# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environnement virtuel
venv/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# IDE
.vscode/
.idea/

# Excel / fichiers utilisateur
*.xlsx
*.xls
data/
